body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: block;
    text-align: center;
}

h1 {
    color: gold;
    text-shadow: 8px 8px 8px black;
    font-size: 5em;
}

h2 {
    color: brown;
}

.form-container, aside {
    background-color: khaki;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    box-shadow: 0 0 5px black;
}

.form-container {
    margin: 1em auto;
    width: 20%;
}

aside {
    margin: 1em auto;
    width: 50%;
}

aside article p, aside article ul li{
    font-weight: lighter;
    text-align: justify;
    text-justify: inter-word;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

input {
    padding: 8px;
    margin-top: 5px;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    color: black;
}

input:invalid {
    background-color:rgb(236, 203, 210);
}

button {
    margin-top: 1em;
    padding: 10px;
    border: none;
    background-color:darkgray;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
}

button:hover {
    color: white;
    background-color:gray;
}